<div class="p-2 bg-gray-100 shadow-xl m-8 max-w-xl">
    <h2 class="text-align-center border-b border-gray-300">Season List</h2>
<ul class="grid grid-flow-col grid-rows-6">
{% for season, data in videos %}
    <li><a class="text-blue-600 hover:underline" href="#season-{{ season }}">{{ season }}</a></li>
{% endfor %}
</ul>
</div>
{% for season, data in videos %}
<div class="flex">
    <div class="z-20 flex items-center bg-gray-500 shadow-xl w-12 h-12 rounded-full">
        <h2 id="season-{{ season }}" class="mx-auto text-lg text-gray-50">
            {{ season }}
        </h2>
    </div>
    <div class="bg-gray-200 rounded m-2 p-2 shadow-xl">
        {# Show the Yearbook video for this season, if there is one. #}
        {% for feature in data['features'] %}
            {% if 'Yearbook' in feature.title %}
                <div class="rounded bg-gray-500 text-gray-50 p-2 justify-center flex">
                    <img class="h-5 float-left pr-4" src="/themes/custom/football_theme/images/icons/book-white.png" alt="">
                    <a href="/node/{{ feature.id }}">Season Yearbook</a>
                </div>
            {% endif %}
        {% endfor %}

        {# Now list all the games. #}
        <ol class="mt-3 divide-y divide-gray-300">
        {% for game in data['games'] %}
            {% if game.id %}
                {% set css = 'text-blue-600 hover:underline' %}
                {% set text %}
                    <a href="/node/{{ game.id }}">{{ game.title }}</a>
                {% endset %}
            {% else %}
                {% set css = 'text-gray-400' %}
                {% set text %}
                    <span>{{ game.title }}</span>
                {% endset %}
            {% endif %}
                <li class="{{ css }}">
                    <img class="h-5 float-left pr-4" src="/themes/custom/football_theme/images/icons/helmet.png" alt="">
                    {{ text }}
                </li>
        {% endfor %}
        </ol>

        {# Show the any other feature videos. #}
        {% for feature in data['features'] %}
            {% if 'Yearbook' not in feature.title %}
                <div>
                    <img class="h-5 float-left pr-4" src="/themes/custom/football_theme/images/icons/film.png" alt="">
                    <a href="/node/{{ feature.id }}">{{ feature.title }}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
