<div class="">
    <a href="{{ url }}" rel="bookmark" class="group">
        <img class="group-hover:hidden h-44 w-full" src="https://vz-480571ad-a3e.b-cdn.net/{{ video_id }}/thumbnail.jpg" alt="Game Preview thumbnail">
        <img class="hidden group-hover:block h-44 w-full" src="https://vz-480571ad-a3e.b-cdn.net/{{ video_id }}/preview.webp" alt="Game Preview animated thumbnail">
    </a>
    <div>
        <h2 class="text-lg font-light">
            <a href="{{ url }}">{{ label }}</a>
        </h2>
        <div class="hidden lg:block">
            <ul class="lg:flex lg:justify-between">
                <li class="p-2"><span class="font-bold">Length:</span> <span class="border p-2">{{ video_time }}</span></li>
                <li class="p-2"><span class="font-bold">Views:</span> <span class="border p-2">{{ video.views }}</span></li>
            </ul>
        </div>

    </div>

</div>
