<div style="position: relative; padding-top: 56.25%;">
    <iframe src="https://iframe.mediadelivery.net/embed/{{ library_id }}/{{ video_id }}"
            loading="lazy" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;"
            allow="accelerometer; gyroscope; encrypted-media; picture-in-picture;" allowfullscreen="true">
    </iframe>
</div>

<div class="py-2">
    <ul class="lg:flex lg:justify-between bg-gray-400 text-gray-50">
        <li class="p-2"><span class="font-bold">Video length:</span> {{ video_time }}</li>
        <li class="p-2"><span class="font-bold">Views:</span> {{ video.views }}</li>
        <li class="p-2"><span class="font-bold">Total Watch Time:</span> {{ video.total_watch_time }}</li>
        <li class="p-2"><span class="font-bold">Average Watch Time:</span> {{ video.average_watch_time }}</li>
    </ul>
</div>

<div class="py-2">
    {{ content|without(
        'field_average_watch_time',
        'field_total_watch_time',
        'field_views',
        'field_video_category',
        'field_season',
        'field_team_s_involved',
        'field_video_length',
        'field_video_id',
        'field_video_collection_id'
    ) }}
</div>
