<div class="">
    <a href="{{ url }}" rel="bookmark" class="group">
        <img class="group-hover:hidden md:h-44 w-full" src="https://vz-4ebe6fcc-fe9.b-cdn.net/{{ video_id }}/thumbnail.jpg" alt="Game Preview thumbnail">
        <img class="hidden group-hover:block md:h-44 w-full" src="https://vz-4ebe6fcc-fe9.b-cdn.net/{{ video_id }}/preview.webp" alt="Game Preview animated thumbnail">
    </a>
    <div>
        <h2 class="text-lg font-light">
            <a href="{{ url }}">{{ label }}</a>
        </h2>
        <div class="hidden lg:block">
            <ul class="lg:flex lg:justify-start">
                <li class="p-1"><span class="font-bold">Length:</span> <span class="border p-1">{{ video_time }}</span></li>
                <li class="p-1"><span class="font-bold">Views:</span> <span class="border p-1">{{ video.views }}</span></li>
            </ul>
        </div>

    </div>

</div>
<div class="flex flex-wrap lg:flex-nowrap gap-2"><div class="md:w-1/2 lg:w-1/4"></div></div>
